<a href="https://colab.research.google.com/github/Aditya29051998/Python/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_test.csv')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
####Read the data set
df_pyspark = spark.read.option('header','true').csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df_pyspark = spark.read.option('header','true').csv('/content/sample_data/california_housing_test.csv').show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df_pyspark = spark.read.option('header','true').csv('/content/sample_data/california_housing_test.csv', inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df_pyspark = spark.read.csv('/content/sample_data/california_housing_test.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Selecting colums and indexing

In [ ]:
df_pyspark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
df_pyspark.head(3)

[Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0),
 Row(longitude=-118.3, latitude=34.26, housing_median_age=43.0, total_rooms=1510.0, total_bedrooms=310.0, population=809.0, households=277.0, median_income=3.599, median_house_value=176500.0),
 Row(longitude=-117.81, latitude=33.78, housing_median_age=27.0, total_rooms=3589.0, total_bedrooms=507.0, population=1484.0, households=495.0, median_income=5.7934, median_house_value=270500.0)]

In [ ]:
df_pyspark.select('housing_median_age')

DataFrame[housing_median_age: double]

In [ ]:
df_pyspark.select('housing_median_age').show()

+------------------+
|housing_median_age|
+------------------+
|              27.0|
|              43.0|
|              27.0|
|              28.0|
|              19.0|
|              37.0|
|              43.0|
|              19.0|
|              15.0|
|              31.0|
|              45.0|
|              37.0|
|              36.0|
|              16.0|
|              27.0|
|              42.0|
|              15.0|
|              26.0|
|              26.0|
|              35.0|
+------------------+
only showing top 20 rows

In [ ]:
type(df_pyspark.select('housing_median_age'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.select(['housing_median_age','total_rooms'])

DataFrame[housing_median_age: double, total_rooms: double]

In [ ]:
df_pyspark.select(['housing_median_age','total_rooms']).show()

+------------------+-----------+
|housing_median_age|total_rooms|
+------------------+-----------+
|              27.0|     3885.0|
|              43.0|     1510.0|
|              27.0|     3589.0|
|              28.0|       67.0|
|              19.0|     1241.0|
|              37.0|     1018.0|
|              43.0|     1009.0|
|              19.0|     2310.0|
|              15.0|     3080.0|
|              31.0|     2402.0|
|              45.0|      972.0|
|              37.0|      736.0|
|              36.0|     1089.0|
|              16.0|     3936.0|
|              27.0|     2097.0|
|              42.0|      161.0|
|              15.0|      570.0|
|              26.0|     3077.0|
|              26.0|     1590.0|
|              35.0|     8814.0|
+------------------+-----------+
only showing top 20 rows

In [ ]:
df_pyspark['housing_median_age']

Column<'housing_median_age'>

In [ ]:
df_pyspark.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [ ]:
df_pyspark.describe()
#

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [ ]:
df_pyspark.describe().show()

+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|    total_bedrooms|        population|        households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+
|  count|               3000|              3000|              3000|             3000|              3000|              3000|              3000|              3000|              3000|
|   mean|-119.58920000000029| 35.63538999999999|28.845333333333333|2599.578666666667| 529.9506666666666|1402.7986666666666|           489.912| 3.807271799999998|        205846.275|
| stddev| 1.9949362939550166|2.1296695233438334|12.555395554955757|2155.593331625582|415.65436813632306|1030.5430124122424|365.42270980552615|1.8545117296914775|113119.68746964622|
|    min|            -124.18|             32.56|               1.0|              6.0|               2.0|               5.0|               2.0|            0.4999|           22500.0|
|    max|            -114.49|             41.92|              52.0|          30450.0|            5419.0|           11935.0|            4930.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+

In [ ]:
##Adding column in dataframe
df_pyspark = df_pyspark.withColumn('housing_median_age after 2 years', df_pyspark['housing_median_age']+2).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|housing_median_age after 2 years|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|                            29.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|                            45.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|                            29.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|                            30.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|                            21.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|                            39.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|                            45.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|                            21.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|                            17.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|                            33.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|                            47.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|                            39.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|                            38.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|                            18.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|                            29.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|                            44.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|                            17.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|                            28.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|                            28.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|                            37.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------------------+
only showing top 20 rows

In [ ]:
##Rename colums
df_pyspark.withColumnRenamed('housing_median_age','median_age').show()

+---------+--------+----------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+----------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|      27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|      43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|      27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|      28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|      19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|      37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|      43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|      19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|      15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|      31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|      45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|      37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|      36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|      16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|      27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|      42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|      15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|      26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|      26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|      35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+----------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
##drop a column
df_pyspark = df_pyspark.drop('housing_median_age after 2 years').show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark.na.drop().show()

AttributeError: 'NoneType' object has no attribute 'na'

In [ ]:
#mean,median
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['housing_median_age'],
    outputCols=["{}_imputed".format(c) for c in ['housing_median_age']]
).setStrategy("median")

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

AttributeError: 'NoneType' object has no attribute '_jdf'

#filter operation

In [ ]:
df_pyspark = spark.read.csv('/content/sample_data/california_housing_test.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
##filter operation
#age less then 20
df_pyspark.filter("housing_median_age<=20").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|  -117.28|   33.28|              13.0|     6131.0|        1040.0|    4049.0|     940.0|       3.8156|          150700.0|
|  -118.45|   34.07|              19.0|     4845.0|        1609.0|    3751.0|    1539.0|        1.583|          350000.0|
|  -119.35|   36.33|              14.0|     1195.0|         220.0|     568.0|     229.0|       3.1486|          105600.0|
|  -121.13|   39.31|              17.0|     3442.0|         705.0|    1693.0|     619.0|       2.8102|          128900.0|
|  -118.08|   34.55|               5.0|    16181.0|        2971.0|    8152.0|    2651.0|       4.5237|          141800.0|
|  -119.01|   34.23|              11.0|     5785.0|        1035.0|    2760.0|     985.0|        4.693|          232200.0|
|  -119.32|    36.2|              15.0|     1562.0|         275.0|     961.0|     287.0|       3.4231|           83300.0|
|  -116.92|   32.77|              16.0|     2770.0|         406.0|    1269.0|     429.0|       6.6783|          275000.0|
|  -117.24|   33.17|               4.0|     9998.0|        1874.0|    3925.0|    1672.0|       4.2826|          237500.0|
|  -121.35|    38.0|               6.0|     1649.0|         369.0|     732.0|     350.0|       3.4231|          123800.0|
|  -117.99|   33.78|              19.0|     7399.0|        1698.0|    3554.0|    1593.0|       3.1049|          173900.0|
|  -120.99|    37.7|              14.0|     9849.0|        1887.0|    4356.0|    1780.0|       3.5877|          160900.0|
|  -121.42|   38.72|              10.0|     3054.0|         528.0|    1932.0|     510.0|       3.0903|           91900.0|
|  -121.82|   37.25|              16.0|     2650.0|         600.0|    1969.0|     586.0|       3.9461|          194300.0|
|  -121.78|   37.23|              18.0|     1747.0|         317.0|    1055.0|     285.0|        5.898|          229100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark.filter("housing_median_age<=20").select(['housing_median_age','total_rooms']).show()

+------------------+-----------+
|housing_median_age|total_rooms|
+------------------+-----------+
|              19.0|     1241.0|
|              19.0|     2310.0|
|              15.0|     3080.0|
|              16.0|     3936.0|
|              15.0|      570.0|
|              13.0|     6131.0|
|              19.0|     4845.0|
|              14.0|     1195.0|
|              17.0|     3442.0|
|               5.0|    16181.0|
|              11.0|     5785.0|
|              15.0|     1562.0|
|              16.0|     2770.0|
|               4.0|     9998.0|
|               6.0|     1649.0|
|              19.0|     7399.0|
|              14.0|     9849.0|
|              10.0|     3054.0|
|              16.0|     2650.0|
|              18.0|     1747.0|
+------------------+-----------+
only showing top 20 rows

In [ ]:
df_pyspark.filter(df_pyspark['housing_median_age']<=20).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|  -117.28|   33.28|              13.0|     6131.0|        1040.0|    4049.0|     940.0|       3.8156|          150700.0|
|  -118.45|   34.07|              19.0|     4845.0|        1609.0|    3751.0|    1539.0|        1.583|          350000.0|
|  -119.35|   36.33|              14.0|     1195.0|         220.0|     568.0|     229.0|       3.1486|          105600.0|
|  -121.13|   39.31|              17.0|     3442.0|         705.0|    1693.0|     619.0|       2.8102|          128900.0|
|  -118.08|   34.55|               5.0|    16181.0|        2971.0|    8152.0|    2651.0|       4.5237|          141800.0|
|  -119.01|   34.23|              11.0|     5785.0|        1035.0|    2760.0|     985.0|        4.693|          232200.0|
|  -119.32|    36.2|              15.0|     1562.0|         275.0|     961.0|     287.0|       3.4231|           83300.0|
|  -116.92|   32.77|              16.0|     2770.0|         406.0|    1269.0|     429.0|       6.6783|          275000.0|
|  -117.24|   33.17|               4.0|     9998.0|        1874.0|    3925.0|    1672.0|       4.2826|          237500.0|
|  -121.35|    38.0|               6.0|     1649.0|         369.0|     732.0|     350.0|       3.4231|          123800.0|
|  -117.99|   33.78|              19.0|     7399.0|        1698.0|    3554.0|    1593.0|       3.1049|          173900.0|
|  -120.99|    37.7|              14.0|     9849.0|        1887.0|    4356.0|    1780.0|       3.5877|          160900.0|
|  -121.42|   38.72|              10.0|     3054.0|         528.0|    1932.0|     510.0|       3.0903|           91900.0|
|  -121.82|   37.25|              16.0|     2650.0|         600.0|    1969.0|     586.0|       3.9461|          194300.0|
|  -121.78|   37.23|              18.0|     1747.0|         317.0|    1055.0|     285.0|        5.898|          229100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_pyspark.filter((df_pyspark['housing_median_age']<=20) &
                  (df_pyspark['housing_median_age']>=15)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|  -118.45|   34.07|              19.0|     4845.0|        1609.0|    3751.0|    1539.0|        1.583|          350000.0|
|  -121.13|   39.31|              17.0|     3442.0|         705.0|    1693.0|     619.0|       2.8102|          128900.0|
|  -119.32|    36.2|              15.0|     1562.0|         275.0|     961.0|     287.0|       3.4231|           83300.0|
|  -116.92|   32.77|              16.0|     2770.0|         406.0|    1269.0|     429.0|       6.6783|          275000.0|
|  -117.99|   33.78|              19.0|     7399.0|        1698.0|    3554.0|    1593.0|       3.1049|          173900.0|
|  -121.82|   37.25|              16.0|     2650.0|         600.0|    1969.0|     586.0|       3.9461|          194300.0|
|  -121.78|   37.23|              18.0|     1747.0|         317.0|    1055.0|     285.0|        5.898|          229100.0|
|  -121.08|   37.69|              19.0|     6473.0|        1212.0|    3559.0|    1123.0|       3.2246|          129300.0|
|  -117.46|   34.08|              18.0|     3830.0|         750.0|    2767.0|     702.0|       3.6602|          120700.0|
|  -118.75|   34.17|              18.0|     6217.0|         858.0|    2703.0|     834.0|       6.8075|          325900.0|
|  -121.99|   37.35|              18.0|     1712.0|         509.0|     972.0|     467.0|       4.3971|          238900.0|
|  -123.52|   41.01|              17.0|     1564.0|         345.0|     517.0|     222.0|       2.1542|           83800.0|
|  -120.21|   36.77|              20.0|     1745.0|         348.0|    1093.0|     302.0|       2.3194|           90600.0|
|  -120.97|   38.42|              16.0|     1748.0|         322.0|    4930.0|     287.0|       4.3029|          121900.0|
|  -121.19|   38.87|              20.0|     3118.0|         500.0|    1405.0|     519.0|          6.0|          209400.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
#Not opeartion or inverse filter operation
df_pyspark.filter(~(df_pyspark['housing_median_age']<=20)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
|  -122.15|   37.75|              40.0|     1445.0|         256.0|     849.0|     255.0|       3.8913|          126300.0|
|  -121.37|   38.68|              36.0|     1775.0|         296.0|     937.0|     305.0|       3.1786|           83400.0|
|  -118.16|   34.07|              47.0|     2994.0|         543.0|    1651.0|     561.0|       3.8644|          241500.0|
|   -122.2|   37.79|              45.0|     2021.0|         528.0|    1410.0|     480.0|       2.7788|          115400.0|
|  -118.03|   34.16|              36.0|     1401.0|         218.0|     667.0|     225.0|       7.1615|          484700.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
#Group by aggriagate function
df_pyspark.groupBy('housing_median_age').sum().show()

+------------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|housing_median_age|     sum(longitude)|     sum(latitude)|sum(housing_median_age)|sum(total_rooms)|sum(total_bedrooms)|sum(population)|sum(households)|sum(median_income)|sum(median_house_value)|
+------------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|               8.0|            -2973.8| 887.4799999999999|                  200.0|         82788.0|            15431.0|        43614.0|        14511.0|116.38060000000002|              5269901.0|
|               7.0|-2377.0599999999995|            701.93|                  140.0|         74365.0|            12930.0|        40562.0|        12015.0| 94.75919999999999|              4401901.0|
|              49.0|           -2515.71| 746.7500000000002|                 1029.0|         31349.0|             6965.0|        19909.0|         6696.0|            76.417|              4787403.0|
|              29.0| -8976.939999999999|2671.7799999999993|                 2175.0|        189323.0|            41568.0|       108569.0|        38879.0|255.76499999999993|            1.6277603E7|
|              47.0|           -2626.46|            773.54|                 1034.0|         39303.0|             9885.0|        29139.0|         9384.0|           73.4923|              4102701.0|
|              42.0| -6096.950000000002|1800.8100000000002|                 2142.0|         88232.0|            20393.0|        59661.0|        19163.0|161.88809999999998|            1.0053803E7|
|              44.0| -6110.560000000001|1814.3300000000004|                 2244.0|         94987.0|            20562.0|        57269.0|        19610.0|179.42789999999997|            1.1532302E7|
|              35.0|-14084.750000000002| 4154.029999999998|                 4130.0|        231091.0|            46928.0|       142089.0|        45376.0| 462.2954000000001|            2.4750906E7|
|              18.0| -9104.409999999998|2732.6500000000005|                 1368.0|        239603.0|            46963.0|       123643.0|        42040.0|305.41230000000013|            1.4818302E7|
|              39.0| -6578.410000000001|1951.0200000000002|                 2145.0|        104548.0|            23636.0|        66303.0|        22211.0|191.66969999999995|            1.2056503E7|
|               1.0|             -234.9|             68.94|                    2.0|            89.0|               17.0|           40.0|           17.0|               6.5|               196700.0|
|              37.0|-10511.289999999999| 3119.380000000001|                 3256.0|        160656.0|            33270.0|        92411.0|        31574.0|358.15430000000003|            1.7699807E7|
|              34.0|-12163.880000000001| 3582.729999999999|                 3468.0|        225751.0|            43864.0|       126595.0|        42328.0| 425.7595999999999|            2.2582504E7|
|              25.0|          -10279.31|           3065.15|                 2150.0|        247922.0|            48255.0|       123534.0|        44133.0|          362.6208|            1.8945406E7|
|              36.0|-13718.589999999993|4043.8500000000017|                 4140.0|        205122.0|            43347.0|       128451.0|        40843.0|          426.5197|            2.3573606E7|
|              41.0| -6695.929999999999|1980.5700000000002|                 2296.0|         88595.0|            20286.0|        54520.0|        19140.0|186.86049999999997|            1.1516204E7|
|               4.0|           -3330.98| 978.9599999999999|                  112.0|        206735.0|            38786.0|        93215.0|        35466.0|141.00990000000002|              6162400.0|
|              23.0| -6341.959999999998|           1888.57|                 1219.0|        152589.0|            30768.0|        77341.0|        28165.0|203.68269999999995|            1.0698401E7|
|              50.0|           -1926.65|            586.04|                  800.0|         28469.0|             5927.0|        14211.0|         5701.0|           59.2284|              3523203.0|
|              45.0| -6094.470000000001|1807.6100000000001|                 2295.0|         85552.0|            18622.0|        50875.0|        17695.0|162.02720000000005|              9902303.0|
+------------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
only showing top 20 rows

In [ ]:
df_pyspark.groupBy('housing_median_age').avg().show()

+------------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|housing_median_age|     avg(longitude)|     avg(latitude)|avg(housing_median_age)|  avg(total_rooms)|avg(total_bedrooms)|   avg(population)|   avg(households)|avg(median_income)|avg(median_house_value)|
+------------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|               8.0|-118.95200000000001|35.499199999999995|                    8.0|           3311.52|             617.24|           1744.56|            580.44|4.6552240000000005|              210796.04|
|               7.0|-118.85299999999998|           35.0965|                    7.0|           3718.25|              646.5|            2028.1|            600.75| 4.737959999999999|              220095.05|
|              49.0|-119.79571428571428| 35.55952380952382|                   49.0|1492.8095238095239|  331.6666666666667|  948.047619047619|318.85714285714283| 3.638904761904762|     227971.57142857142|
|              29.0|-119.69253333333332| 35.62373333333333|                   29.0| 2524.306666666667|             554.24|1447.5866666666666| 518.3866666666667|3.4101999999999992|     217034.70666666667|
|              47.0|-119.38454545454546| 35.16090909090909|                   47.0|            1786.5|  449.3181818181818|            1324.5|426.54545454545456|3.3405590909090908|      186486.4090909091|
|              42.0| -119.5480392156863|             35.31|                   42.0|1730.0392156862745|  399.8627450980392|1169.8235294117646| 375.7450980392157| 3.174276470588235|     197133.39215686274|
|              44.0|-119.81490196078434|35.575098039215696|                   44.0|1862.4901960784314|  403.1764705882353| 1122.921568627451| 384.5098039215686| 3.518194117647058|       226123.568627451|
|              35.0|-119.36228813559323|35.203644067796596|                   35.0|1958.3983050847457|  397.6949152542373|1204.1440677966102|384.54237288135596| 3.917757627118645|      209753.4406779661|
|              18.0|-119.79486842105261| 35.95592105263159|                   18.0|3152.6710526315787|  617.9342105263158|1626.8815789473683| 553.1578947368421| 4.018582894736844|     194977.65789473685|
|              39.0|-119.60745454545456|35.473090909090914|                   39.0|1900.8727272727272| 429.74545454545455| 1205.509090909091| 403.8363636363636|3.4849036363636356|     219209.14545454545|
|               1.0|            -117.45|             34.47|                    1.0|              44.5|                8.5|              20.0|               8.5|              3.25|                98350.0|
|              37.0|-119.44647727272726| 35.44750000000001|                   37.0|1825.6363636363637|  378.0681818181818|          1050.125|358.79545454545456| 4.069935227272728|     201134.17045454544|
|              34.0|-119.25372549019609| 35.12480392156862|                   34.0|2213.2450980392155| 430.03921568627453|1241.1274509803923|414.98039215686276| 4.174113725490195|      221397.0980392157|
|              25.0|-119.52686046511627| 35.64127906976744|                   25.0| 2882.813953488372|  561.1046511627907|1436.4418604651162| 513.1744186046511| 4.216520930232558|     220295.41860465117|
|              36.0|-119.29208695652167|35.163913043478274|                   36.0|1783.6695652173912|  376.9304347826087|1116.9652173913043| 355.1565217391304| 3.708866956521739|     204987.87826086956|
|              41.0|-119.57017857142856| 35.36732142857143|                   41.0|1582.0535714285713|             362.25| 973.5714285714286| 341.7857142857143|3.3367946428571424|               205646.5|
|               4.0|-118.96357142857143| 34.96285714285714|                    4.0| 7383.392857142857| 1385.2142857142858|3329.1071428571427| 1266.642857142857| 5.036067857142858|      220085.7142857143|
|              23.0| -119.6596226415094|35.633396226415094|                   23.0|2879.0377358490564|  580.5283018867924|1459.2641509433963| 531.4150943396227| 3.843069811320754|     201856.62264150943|
|              50.0|        -120.415625|           36.6275|                   50.0|         1779.3125|           370.4375|          888.1875|          356.3125|          3.701775|            220200.1875|
|              45.0|-119.49941176470591|35.443333333333335|                   45.0|1677.4901960784314|  365.1372549019608| 997.5490196078431|346.96078431372547|3.1770039215686285|     194162.80392156861|
+------------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
only showing top 20 rows

In [ ]:
df_pyspark.groupBy('housing_median_age').count().show()

+------------------+-----+
|housing_median_age|count|
+------------------+-----+
|               8.0|   25|
|               7.0|   20|
|              49.0|   21|
|              29.0|   75|
|              47.0|   22|
|              42.0|   51|
|              44.0|   51|
|              35.0|  118|
|              18.0|   76|
|              39.0|   55|
|               1.0|    2|
|              37.0|   88|
|              34.0|  102|
|              25.0|   86|
|              36.0|  115|
|              41.0|   56|
|               4.0|   28|
|              23.0|   53|
|              50.0|   16|
|              45.0|   51|
+------------------+-----+
only showing top 20 rows

In [ ]:
training = spark.read.csv('/content/sample_data/california_housing_train.csv', header=True, inferSchema=True)

In [ ]:
training.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
training.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
training.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["longitude","latitude","housing_median_age","total_rooms"],outputCol="Independent Features")

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|Independent Features|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|[-114.31,34.19,15...|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|[-114.47,34.4,19....|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|[-114.56,33.69,17...|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|[-114.57,33.64,14...|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|[-114.57,33.57,20...|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|[-114.58,33.63,29...|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|[-114.58,33.61,25...|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|[-114.59,34.83,41...|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|[-114.59,33.61,34...|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|[-114.6,34.83,46....|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|[-114.6,33.62,16....|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|[-114.6,33.6,21.0...|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|[-114.61,34.84,48...|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|[-114.61,34.83,31...|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|[-114.63,32.76,15...|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|[-114.65,34.89,17...|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|[-114.65,33.6,28....|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|[-114.65,32.79,21...|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|[-114.66,32.74,17...|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|[-114.67,33.92,17...|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
finalized_data = output.select("Independent Features","total_rooms")

In [ ]:
finalized_data.show()

+--------------------+-----------+
|Independent Features|total_rooms|
+--------------------+-----------+
|[-114.31,34.19,15...|     5612.0|
|[-114.47,34.4,19....|     7650.0|
|[-114.56,33.69,17...|      720.0|
|[-114.57,33.64,14...|     1501.0|
|[-114.57,33.57,20...|     1454.0|
|[-114.58,33.63,29...|     1387.0|
|[-114.58,33.61,25...|     2907.0|
|[-114.59,34.83,41...|      812.0|
|[-114.59,33.61,34...|     4789.0|
|[-114.6,34.83,46....|     1497.0|
|[-114.6,33.62,16....|     3741.0|
|[-114.6,33.6,21.0...|     1988.0|
|[-114.61,34.84,48...|     1291.0|
|[-114.61,34.83,31...|     2478.0|
|[-114.63,32.76,15...|     1448.0|
|[-114.65,34.89,17...|     2556.0|
|[-114.65,33.6,28....|     1678.0|
|[-114.65,32.79,21...|       44.0|
|[-114.66,32.74,17...|     1388.0|
|[-114.67,33.92,17...|       97.0|
+--------------------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol='total_rooms')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([0.0, 0.0, 0.0, 1.0])

In [ ]:
regressor.intercept

7.090006449790799e-09

In [ ]:
PredictionModel = regressor.evaluate(test_data)

In [ ]:
PredictionModel.predictions.show()

+--------------------+-----------+------------------+
|Independent Features|total_rooms|        prediction|
+--------------------+-----------+------------------+
|[-124.35,40.54,52...|     1820.0|1819.9999999999682|
|[-124.22,41.73,28...|     3003.0|3003.0000000000277|
|[-124.21,40.75,32...|     1218.0| 1217.999999999967|
|[-124.21,41.77,17...|     3461.0| 3461.000000000018|
|[-124.19,40.78,37...|     1371.0| 1370.999999999977|
|[-124.18,40.78,37...|     1453.0|1452.9999999999777|
|[-124.18,40.79,39...|     1836.0|1835.9999999999816|
|[-124.16,40.78,50...|     2285.0|2284.9999999999973|
|[-124.16,40.8,52....|     2416.0| 2416.000000000001|
|[-124.16,40.95,20...|     1075.0|1074.9999999999684|
|[-124.16,41.02,23...|     1672.0| 1671.999999999978|
|[-124.15,40.76,24...|     2858.0| 2857.999999999965|
|[-124.15,40.88,33...|     2235.0| 2234.999999999983|
|[-124.14,40.58,25...|     1899.0|1898.9999999999538|
|[-124.14,40.59,17...|     2985.0| 2984.999999999947|
|[-124.14,40.77,27...|     3046.0| 3045.999999999971|
|[-124.14,40.78,35...|     2426.0|  2425.99999999998|
|[-124.13,40.62,43...|     2131.0|  2130.99999999998|
|[-124.13,40.79,29...|     2474.0|2473.9999999999745|
|[-124.13,40.79,32...|     2017.0|2016.9999999999773|
+--------------------+-----------+------------------+
only showing top 20 rows

In [ ]:
#stats
PredictionModel