<a href="https://colab.research.google.com/github/Aditya29051998/Python/blob/main/RBR_Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Statement in Python

In [ ]:
print("Hello World")

Hello World

String Mainupulation In python

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World

In [ ]:
print("Hello World\nHello World\nHello World")

Hello World
Hello World
Hello World

String Concatination

In [ ]:
print("Hello"+" "+"Aditya")

Hello Aditya

Taking input from terminal

In [ ]:
input("What is your name")

What is your nameAditya

'Aditya'

In [ ]:
print("Helo"+input("What is your name"))

What is your nameNikhil
HeloNikhil

Video-6 Len Function

In [ ]:
#How to comment statements in python

In [ ]:
print(len("Aditya"))

6

In [ ]:
print(len(input("what is your name :")))

what is your name :chiki
5

Video7 Python Variables

Variable is a name tag given to a memory
# *Python is a dynamically typed language it can change the type of the variable dynamicaly

In [ ]:
name=input ("Enter Your name :")
length=len(name)
print(length)

Enter Your name :Aditya
6

In [ ]:
name=input ("Enter Your name :")
length=len(name)
print(length)
name=100
print(name)
name=1.52
print(name)
#same variable can store different types of data

Enter Your name :ad
2
100
1.52

Video-8: Swaping of two number
Variable naming rules-https://www.w3schools.com/python/gloss_python_variable_names.asp

In [ ]:
a=input("Enter a:")
b=input("Enter b:")
temp=a
a=b
b=temp
print("a value is ",a)
print("b value is ",b)

Enter a:10
Enter b:20
a value is  20
b value is  10

Video9:Example

In [ ]:
print("__Wlcome to petshop name generator__")
city=input("Which city you grow up ?\n") #\n used for get output in new line
pet_name=input("What is your pet name ?\n")
Pet_shop_name=city+" "+pet_name
print("Your pet sop name is : ",Pet_shop_name)

__Wlcome to petshop name generator__
Which city you grow up ?
BBSR
What is your pet name ?
Ad
Your pet sop name is :  BBSR Ad

Video:10: Primitive Data type

In [ ]:
print("Aditya"[0]) #subscripting
print("Aditya"[4])
print("Aditya"[-1]) #Negative subscripting
print("Aditya"[-4])

A
y
a
i

In [ ]:
print("123" + "456") # String Concatination

123456

Video:11 Type Error

In [ ]:
print(len(1234)) #number cant not used len

TypeError: object of type 'int' has no len()

In [ ]:
num_char=len(input("Enter Your name :"))
print("Your name has" +num_char+ "Charecters")

Enter Your name :ad

TypeError: can only concatenate str (not "int") to str

In [ ]:
num_char=len(input("Enter Your name :"))
new_num_char =str(num_char)  #Typecasting
print(type(new_num_char))
print("Your name has" +new_num_char+ "Charecters")

Enter Your name :ad
<class 'str'>
Your name has2Charecters

In [ ]:
print(str(100)+ str(200))

100200

Video_12 Example

In [ ]:
two_digit_number = input("Enter a two digit number:")
print(type(two_digit_number))
first_digit= two_digit_number[0]
second_digit= two_digit_number[1]
result =first_digit + second_digit
print(result)

Enter a two digit number:27
<class 'str'>
27

In [ ]:
two_digit_number = input("Enter a two digit number:")
print(type(two_digit_number))
first_digit= int(two_digit_number[0])
second_digit= int(two_digit_number[1])
result =first_digit + second_digit
print(result)

Enter a two digit number:27
<class 'str'>
9

Video_13 Type of operator
https://www.geeksforgeeks.org/precedence-and-associativity-of-operators-in-python/

Video_14 BMI Calculator

In [ ]:
height = float(input("Enter your Height :"))
Weight = int(input("Enter your Wight :"))
BMI = Weight/(height**2)
int_BMI = int(BMI)
print(int_BMI)

Enter your Height :1.7
Enter your Wight :75
25

Video_15

In [ ]:
print(8/3)
print(int(8/3))
print(round(8/3)) # This is inbulit function which will round off the float value
print(8 // 3) # Float division it will give int output

2.6666666666666665
2
3
2

Video_16. f string

In [ ]:
score =0
height = 1.5
iswining =True
print(f"Your Score is {score}, Your height is {height} ,Your iswining is {iswining}")   # f is used to convert any type of operator into stinrg it is a very useful tool

Your Score is 0, Your height is 1.5 ,Your iswining is True

Video_17 Calculate Life in weeks

In [ ]:
age = input("Enter your age :")
age_as_int = int(age)
Year_remaining = 90 - age_as_int
weeks_remaining = Year_remaining * 52
Months_remaining = Year_remaining * 12
Days_remaining = Year_remaining * 365
print(Days_remaining)
print(f" You have {Year_remaining} years,months {Months_remaining},days{Days_remaining}")

Enter your age :25
23725
 You have 65 years,months 780,days23725

In [ ]:
#Calculating a bill
#if the bill was rs 150 , split between 5 people ,with 12% tip
# Each person should pay (150/5)*1.12 =33.6
#Round the result to decimal places = 33.60
print("---Welcome to the bill calculator---")
bill = float(input("Enter the bill ammount :"))
Person = int(input("Enter number of persons :"))
tip = float(input("Enter a tip Ammount :"))
tip_percentage = tip/100
bill_with_tip = bill * tip_percentage
total_bill = bill + bill_with_tip
Bill_per_Person = (total_bill / Person)
final = round(Bill_per_Person, 2)
print(Bill_per_Person)
print(final)

---Welcome to the bill calculator---
Enter the bill ammount :150
Enter number of persons :6
Enter a tip Ammount :12
28.0
28.0

Video_18
if and else

In [ ]:
a=10
b =200
if b>a:
     print("b is greater then a")

else:
     print("a is greater")

b is greater then a

In [ ]:
#Program to roller coster ride
print("---Welcome to roller coster---")
height=int(input("What is your height in cm: "))

if height >= 120:
   print("You can ride a roller coaster")
   age =int(input("Whats your age:"))
   if age <= 12:
    print("Please pay RS.20")
   elif age <=18 :
    print("please Pay RS.50")
   else:
    print("please pay Rs.100")
else:
   print("Sorry grow taller before you ride")

---Welcome to roller coster---
What is your height in cm: 126
You can ride a roller coaster
Whats your age:17
please Pay RS.50

Lets See Multiple IF

In [ ]:
#Program to roller coster ride
print("---Welcome to roller coster---")
height=int(input("What is your height in cm: "))
bill = 0
if height >= 120:
   print("You can ride a roller coaster")
   age =int(input("Whats your age:"))
   if age <= 12:
    bill = 20
    print("Please pay RS.20")
   elif age <=18 :
    bill = 50
    print("please Pay RS.50")
   else:
    bill = 100
    print("please pay Rs.100")
   Wants_Photo = input("Do You want photo :")
   if Wants_Photo == "Y":
    bill += 10
   print(f"Your Final bill is {bill}")
else:
   print("Sorry grow taller before you ride")

---Welcome to roller coster---
What is your height in cm: 145
You can ride a roller coaster
Whats your age:25
please pay Rs.100
Do You want photo :Y
Your Final bill is 110

Video_19

In [ ]:
number = int(input("Enter a number :"))

if number % 2 == 0:
  print("Its a even number ")
else:
  print("Its a odd number")

Enter a number :6
Its a even number

In [ ]:
height = float(input("Enter your height in m:"))
weight = float(input("Enter your weight in kg:"))
bmi = round(weight /(height **2))
#print(bmi)
if bmi < 18.5:
  print(f"Your bmi is {bmi} , You are under weight")
elif bmi < 25 :
  print(f"Your bmi is {bmi} , You are Healthy")
elif bmi < 30:
  print(f"Your bmi is {bmi} , You are over weight")
elif bmi < 35 :
  print(f"Your bmi is {bmi} , You are over obese")
else:
   print(f"Your bmi is {bmi} , You are over  Critical obese")

Enter your height in m:1.646
Enter your weight in kg:66
Your bmi is 24 , You are Healthy

Leap Year Program

In [ ]:
Year = int(input("Enter a Year :"))
if Year%4 ==0:
  if Year%100 ==0:
    if Year%400 ==0:
      print("Its a leap year")
    else:
      print("Its not a leap Year")
  else:
     print("Its a leap year")
else:
  print("Its not a leap year")

Enter a Year :2024
Its a leap year

Pizza Delivery

In [ ]:
print("---Wlcome to pizza deliveries---")
size = input("What is the size ofthe pizza you want : S,M or L :")
add_peporoni = input("Do you want extra peoroni : Y or N :")
extra_cheese =  input("Do you want extra cheese : Y or N :")
bill = 0
if size == "S":
  bill =100
elif size == "M":
  bill +=200
elif size == "L":
  bill +=300
if add_peporoni == "Y":
  if size == "S":
   bill +=20
  else:
   bill +=30
if extra_cheese == "Y":
  if size == "S":
   bill +=10
  else:
   bill +=20
print(f"Your final bill is {bill}rs.")

---Wlcome to pizza deliveries---
What is the size ofthe pizza you want : S,M or L :S
Do you want extra peoroni : Y or N :Y
Do you want extra cheese : Y or N :Y
Your final bill is 130rs.

Video-20:
Logica operator ( AND ,OR and NOT are three logical operator used in python)

In [ ]:
name1 = input("Enter a name :")
name2 = input("Enter a name :")
combined_string = name1 + name2
lower_case_string = combined_string.lower()
t = lower_case_string.count("t")
r = lower_case_string.count("r")
u = lower_case_string.count("u")
e = lower_case_string.count("e")

l = lower_case_string.count("l")
o = lower_case_string.count("o")
v = lower_case_string.count("v")
e = lower_case_string.count("e")
true = t+r+u+e
love = l+o+v+e
print(str(true))
print(str(love))
love_score = int(str(true)+str(love))
print(love_score)

if (love_score > 90):
  print(f"Your love score is {love_score}, you go together like coke and mentos")
elif (love_score < 90) and (love_score > 60):
  print(f"Your love score is {love_score}, you score is good together")
else:
  print(f"Your love score is {love_score}, Find someone else ")

video 21:Function in python

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Nested If

In [ ]:
print("Welcopme to Tresure Island")
print("Your mission is to find the treasure")
choice1 = input("You are at the crossroad,where do you want to go ? Type 'left' or 'right':").lower()
if choice1 == "left":
  choice2 = input("You have come to a lake.There is an island in the middle of the lake.Type 'wait' to wait for a boat.Type 'swim' to swim across:").lower()
  if choice2 == "wait":
    choice3 = input("You arrive at the island unharmed.There is a house with 3 doors.One red,one yellow and one blue.Which colour do you choose?").lower()
    if choice3 == "red":
      print("It's a room full of fire.Game Over.")
    elif choice3 == "yellow":
      print("You found the treasure! You Win!")
    elif choice3 == "blue":
      print("You enter a room of beasts.Game Over.")
    else:
      print("You chose a door that doesn't exist.Game Over.")
  else:
    print("You got attacked by an angry trout.Game Over.")
else:
  print("You fell into the hole.game over")

Welcopme to Tresure Island
Your mission is to find the treasure
You are at the crossroad,where do you want to go ? Type 'left' or 'right':left
You have come to a lake.There is an island in the middle of the lake.Type 'wait' to wait for a boat.Type 'swim' to swim across:wait
You arrive at the island unharmed.There is a house with 3 doors.One red,one yellow and one blue.Which colour do you choose?yellow
You found the treasure! You Win!

Vodeo:23
Randomization in python

In [ ]:
import random
random_integer = random.randint(1,10) #randint for int
random_float = random.random()  #random for float
random_float2 = random.random() *5 # To get random numner in range of 5
print(random_float)
print(random_integer)
print(random_float2)

0.9936078678777307
9
4.056530259923648

In [ ]:
import random
love_score = random.randint(1,100)
print(f"Your love score is {love_score}")

Your love score is 22

In [ ]:
import random
random_side = random.randint(0,1)
if random_side == 1:
  print("Heads")
else:
  print("Tails")

Tails

Video24:
Data structure in python

In [ ]:
#List data stucture
names = ["Aditya","chiki","khusi","Nikhil","gugu"]
print(names)
print(names[0]) #Gets first Elemnet
print(names[-1]) # Gets Last elemet
names[0] = "gugu" #Changes the element
print(names)
names.append("isha") #appeend name in list end
print(names)
x = names.copy() #copy the list

names.clear() #clear the list
print(names)
print(x)
z = x.count("gugu") #count the number of occurance elements in the list
print(z)

#extend() - The extend method adds the specified list elemeats (or any iterables ) to the end of the current list
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

#index - The index() method returns the first occurance of specified value
x = fruits.index("cherry")
print(x)

#insert - The insert() method specified value at the specified position
fruits.insert(2,"Mango")
print(fruits)

#Pop - This
fruits.pop(1)
print(fruits)

# Remove():It will remove first occurance of a value
fruits.remove("Mango")
print(fruits)

#Reverse() : It will reverse the list
fruits.reverse()
print(fruits)

#Sort() : it will sort alphabetically in accending order
fruits.sort()
print(fruits)

list = [100, 50, 65, 82, 23]
list.sort()
print(list)

['Aditya', 'chiki', 'khusi', 'Nikhil', 'gugu']
Aditya
gugu
['gugu', 'chiki', 'khusi', 'Nikhil', 'gugu']
['gugu', 'chiki', 'khusi', 'Nikhil', 'gugu', 'isha']
[]
['gugu', 'chiki', 'khusi', 'Nikhil', 'gugu', 'isha']
2
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
2
['apple', 'banana', 'Mango', 'cherry', 'Ford', 'BMW', 'Volvo']
['apple', 'Mango', 'cherry', 'Ford', 'BMW', 'Volvo']
['apple', 'cherry', 'Ford', 'BMW', 'Volvo']
['Volvo', 'BMW', 'Ford', 'cherry', 'apple']
['BMW', 'Ford', 'Volvo', 'apple', 'cherry']
[23, 50, 65, 82, 100]

In [ ]:
#Dictionary
mobile = {"Brand_name":"Apple","price":1.5 ,"Model_numeber":15}
print(mobile["Brand_name"])
mobile["Brand_name"] = "Samsung"
print(mobile["Brand_name"])
mobile["wifi"] = "ON"
print(mobile)

#item(): The metod returns a view object.The view object contains the key and value  pairs of dictionary as a tuple in alist
x = mobile.items()
print(x)
#keys(): The method return a view of the object .The view conatins the keys of the dictioanty as list
Y = mobile.keys()
print(Y)
#values(): The method return a view of the object .The view conatins the values of the dictioanty as list
Z = mobile.values()
print(Z)

#pop():This method remove item from dict
mobile.pop("Brand_name")
print(mobile)

#popitem(): This method delete the last inserted item in the list
mobile.popitem()
print(mobile)

#clear(): This method clear the dictionary
mobile.clear()
print(mobile)

#copy()
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.copy()
print(x)

#get() : similar to indexing if we use get we will get value for that key
x = car.get("model")
print(x)

#setdefault : it is simar to get if element is not present it will create it
x = car.setdefault("model", "Bronco")
print(x)
y = car.setdefault("color", "white")
print(y)
print(car)

#update : This method will append if we update a new value if we do for existing key it will update the value
car.update({"color": "White"})
print(car)
car.update({"year": 2020})
print(car)

#fromkeys():
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

Apple
Samsung
{'Brand_name': 'Samsung', 'price': 1.5, 'Model_numeber': 15, 'wifi': 'ON'}
dict_items([('Brand_name', 'Samsung'), ('price', 1.5), ('Model_numeber', 15), ('wifi', 'ON')])
dict_keys(['Brand_name', 'price', 'Model_numeber', 'wifi'])
dict_values(['Samsung', 1.5, 15, 'ON'])
{'price': 1.5, 'Model_numeber': 15, 'wifi': 'ON'}
{'price': 1.5, 'Model_numeber': 15}
{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
Mustang
white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'White'}
{'key1': 0, 'key2': 0, 'key3': 0}

Video 25:
Tuple

In [ ]:
#Tuple is simalr to list and dictionary but we can modify a list and dictionary but we cant able to modify them
names = ("Aditya","chiki","khusi","Nikhil","gugu")
print(names)
print(names[0]) #Gets first Elemnet
print(names[-1]) # Gets Last elemet

#count : Number of times it has occured
z = names.count("gugu") #count the number of occurance elements in the list
print(z)

#index : Find the first occurance
x = names.index("khusi")
print(x)

('Aditya', 'chiki', 'khusi', 'Nikhil', 'gugu')
Aditya
gugu
1
2

In [ ]:
# set by deafult is unordered every time you print it you will get different result we use simalr curly braces to it just like dictionary
names = {"Aditya","chiki","khusi","Nikhil","gugu"}
print(names)
print(names)
names.add("isha") # add() : used to add element in set
print(names)
x = names.copy() # copy() : used to copy set
names.discard("khusi") # discard() : used to remove element in set
y =names.difference(x)
z = x.difference(names)
print(z)
print(y)
x.difference_update(names) # difference_update() : used to remove element in set which are present in both
print(x)
print(names)
names.remove("Aditya") # remove() : used to remove element in set
print(names)
names.clear() # clear() : used to clear the set
print(names)

number = {1,2,3,4,5,6,7,8,9,10,"BMW"}
cars = {"Ford","BMW","Volvo"}
number.difference_update(cars) # it removes item exits in both the set
print(number)

#discard() :Remove specified item
number.discard(1)
print(number)

#interscrtion(): similar to maths
x = number.intersection(cars)
print(x)

#interscrtion_update():
number.intersection_update(cars)
print(number)

#isdisjoin() : it retuns true or false if intersection present or not
z = number.isdisjoint(cars)
print(z)

#issubset() : it retuns true or false if subset present or not
a ={"a","b","c"}
b = {"f","e","d","c","b","a"}
z = a.issubset(b)
print(z)

#issuperset() : it retuns true or false if superset present or not
z = b.issuperset(a)
print(z)

#issuperset() : it retuns true or false if superset present or not
z = number.issuperset(cars)
print

#pop(): it will remove random elememnt from set
a.pop()
print(a)

#remove() : it will remove specified elemnt from the set
a.remove("b")
print(a)

#union(): same as maths
w = b.union(a)
print(w)

#update():
a.update(b)
print(a)

{'Aditya', 'chiki', 'khusi', 'gugu', 'Nikhil'}
{'Aditya', 'chiki', 'khusi', 'gugu', 'Nikhil'}
{'isha', 'Aditya', 'chiki', 'khusi', 'gugu', 'Nikhil'}
{'khusi'}
set()
{'khusi'}
{'isha', 'Aditya', 'chiki', 'gugu', 'Nikhil'}
{'isha', 'chiki', 'gugu', 'Nikhil'}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
set()
True
True
True
{'b', 'a'}
{'a'}

video 25: String

In [ ]:
import random
name_string = input("Give me everyones name,separated by comma and space.:")
names = name_string.split(", ")
print(names[1])
x = random.randint(0,len(names)-1)
name = random.choice(names) # we can use this insted
print(name)
print(f"{names[x]} is going to buy the meal today")
print(names)

Give me everyones name,separated by comma and space.:Aditya, somu, chiki
somu
somu
somu is going to buy the meal today
['Aditya', 'somu', 'chiki']

Video26 : Nested list for loop while loop

In [ ]:
states_in_india = ["Andhra Pradesh","Arunachal Pradesh","Assam","Bihar","Chhattisgarh","Goa","Gujarat","Haryana","Himachal Pradesh","Jammu"]
print(len(states_in_india))
print(states_in_india[0])
print(states_in_india[-1])
states_in_india.append("Jharkhand")
print(states_in_india)

#list of list
boys = ["Aditya" , "Ram ","Laxman"]
girls = ["chiki" ,"khusi" ,"Nikhil"]
names = [boys,girls]
print(names)

10
Andhra Pradesh
Jammu
['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu', 'Jharkhand']
[['Aditya', 'Ram ', 'Laxman'], ['chiki', 'khusi', 'Nikhil']]

In [ ]:
#for loop
boys = ["Aditya" , "Ram ","Laxman"]
for name in boys:
  print(name)
  for z in name:
    print(z)

Aditya
A
d
i
t
y
a
Ram
R
a
m

Laxman
L
a
x
m
a
n

In [ ]:
#break - with this we can stop the loop in between
boys = ["Aditya" , "Ram ","Laxman"]
for name in boys:
  if name == "Ram ":
    break
  print(name)
# continue - it will print other than that varibale
boys = ["Aditya" , "Ram ","Laxman"]
for name in boys:
  if name == "Ram ":
    continue
  print(name)
#range () - to take a range
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)
# use step paramete it will like i+ in c
for x in range(2,30,3):
  print(x)
#else in for loop - we can use else in for loop as we use it in if condtion
for x in range(6):
  print(x)
else:
  print("Finally finished")

#else block will be not exicuted if we use break statement in loop
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished")

#Nested loop
boys = ["Aditya" , "Ram ","Laxman"]
girls = ["chiki" ,"khusi" ,"Nikhil"]
for x in boys:
  for y in girls:
    print(x,y)
#pass - we cant have empty for loop if we want it for some reasin loop with no content put pass
for x in boys:
  pass

Aditya
Aditya
Laxman
0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29
0
1
2
3
4
5
Finally finished
0
1
2
Aditya chiki
Aditya khusi
Aditya Nikhil
Ram  chiki
Ram  khusi
Ram  Nikhil
Laxman chiki
Laxman khusi
Laxman Nikhil

In [ ]:
#while loop
i = 1
while i <= 6:
  print(i)
  i += 1
#break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
#continue
i = 0
while i < 6:
  i += 1 # put this before continue other wise we will end up in infinite loop
  if i == 3:
    continue
  print(i)
#else
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")
# if we use break then else will not be exicuted
i = 1
while i < 6:
  if i == 3:
    break
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
6
1
2
3
1
2
4
5
6

Video 27:Student avg height

In [ ]:
student_heights = input("Input a list of student heights ").split()
for n in range(0, len(student_heights)):
  student_heights[n] = int(student_heights[n])
print(student_heights)
total_sum = sum(student_heights)
ttoatal_len = len(student_heights)
avg = round(total_sum/ttoatal_len)
print(avg)
#use loop to find avg
total_height = 0
for height in student_heights:
  total_height += height
print(total_height)
number_of_students = 0
for student in student_heights:
  number_of_students += 1
print(number_of_students)
average_height = round(total_height / number_of_students)
print(average_height)

#we can combine both the for loop insted of writting separately
total_height = 0
number_of_students = 0
for height in student_heights:
  total_height += height
  number_of_students += 1
print(number_of_students)
print(total_height)
average_height = round(total_height / number_of_students)
print(average_height)

Input a list of student heights 5 5 6 7
[5, 5, 6, 7]

In [ ]:
student_marks = input("Input a list of student marks ").split()
for n in range(0, len(student_marks)):
  student_marks[n] =int(student_marks[n])
print(student_marks)
print(max(student_marks))
print(min(student_marks))
#without using inbuilt functions
highest_score = 0
for score in student_marks:
  if score > highest_score:
    highest_score = score
print(f"The highest score in the class is: {highest_score}")

Input a list of student marks 55 66 77 78
[55, 66, 77, 78]
78
55
The highest score in the class is: 78

Video:28

In [ ]:
#Sum of all even number in range 100
total = 0
for i in range (1,101):
  if i%2 == 0:
         total +=i
print(total)

#use step function
total2 = 0
for i in range (2,101,2):
         total2 +=i
print(total2)

2550
2550

In [ ]:
for i in range(1,101):
  if i%3 ==0 and i%5 ==0:
    print("fizzbuzz")
  elif i%3 ==0:
    print("fizz")
  elif i%5 ==0:
    print("buzz")
  else:
    print(i)

fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz

In [ ]:
#password using python
letters = ['a', 'b', 'c','d', 'e', 'f','g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',]
numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
symbols = ['!', '#', '$', '%', '&', '(', ')', '*', '+']
print("Welcome to the PyPassword Generator!")
import random

nr_letters= int(input("How many letters would you like in your password?\n"))
nr_symbols = int(input(f"How many symbols would you like?\n"))
nr_numbers = int(input(f"How many numbers would you like?\n"))
#easy level password
password = ""
for i in range(1,nr_letters+1):
  password += random.choice(letters)
  print(password)
for i in range(1,nr_symbols+1):
  password += random.choice(symbols)
  print(password)
for i in range(1,nr_numbers+1):
  password += random.choice(numbers)
  print(password)
print(password)


#Hard level password
passowrd_list = []
for i in range(1,nr_letters+1):
  passowrd_list += random.choice(letters)
  print(passowrd_list)
for i in range(1,nr_symbols+1):
  passowrd_list += random.choice(symbols)
  print(passowrd_list)
for i in range(1,nr_numbers+1):
  passowrd_list += random.choice(numbers)
  print(passowrd_list)
random.shuffle(passowrd_list)
#convert list to string
print(passowrd_list)
new_pass = ""
for i in passowrd_list:
  new_pass += i
print(new_pass)

Welcome to the PyPassword Generator!
How many letters would you like in your password?
2
How many symbols would you like?
2
How many numbers would you like?
2
i
ij
ij)
ij)(
ij)(1
ij)(12
ij)(12
['q']
['q', 'r']
['q', 'r', '+']
['q', 'r', '+', '%']
['q', 'r', '+', '%', '6']
['q', 'r', '+', '%', '6', '6']
['q', '+', '6', 'r', '6', '%']
q+6r6%

Video 29:
Functions

In [ ]:
def greet():
  print("Hello")
  print("How do you do")
  print("Isn't the weather nice today")
greet()

Hello
How do you do
Isn't the weather nice today

In [ ]:
#Informatoion can be passed to function using arguments
def greet_with_name(name):
  print(f"Hello {name}")
  print(f"How do you do {name}")
greet_with_name("Aditya")
greet_with_name("Nikhil")

Hello Aditya
How do you do Aditya
Hello Nikhil
How do you do Nikhil

In [ ]:
#By default we need to call fucntion with correct number of arguments
def greet_with(name,location):
  print(f"Hello {name}")
  print(f"What is it like in {location}")
greet_with("Aditya","Mumbai")
greet_with(location="Mumbai",name="Aditya")

Hello Aditya
What is it like in Mumbai
Hello Aditya
What is it like in Mumbai

In [ ]:
#Arbitrary arguments *args
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")
#Keyword arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
#Arbitrary key word argument **args
def my_function(**kid):
  print("His last name is " + kid["lname"])
my_function(fname = "Tobias", lname = "Refsnes")

In [ ]:
#Default parameter
def my_function(country = "Norway"):
  print("I am from " + country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
#passing list as a argument
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
#return statement in python
def my_function(x):
  return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

#pass key word in function
def myfunction():
  pass

In [ ]:
#how many paint bottle needed to paint the wall
import math
test_h = int(input("Height of wall: "))
test_w = int(input("Width of wall: "))
coverage = 5
def paint_calc(height,width,coverage):
  area = height * width
  can = area / coverage
  print(f"You'll need {math.ceil(can)} cans of paint.")
paint_calc(height=test_h, width=test_w, coverage=coverage)

Height of wall: 3
Width of wall: 5
You'll need 3 cans of paint.

In [ ]:
#Check Number is prime or not
n = int(input("Enter an number:"))
def prime_checker(number):
  is_prime =True
  for i in range(2,number):
    if number%i ==0:
      is_prime = False
  print(is_prime)
  if is_prime:
    print("It's a prime number")
  else:
    print("It's not a prime number")
prime_checker(number=n)

Enter an number:4
False
It's not a prime number

Video 30: Ceasar chipher

In [ ]:

letters = ['a', 'b', 'c','d', 'e', 'f','g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
direction = input("Type 'encode' to encrypt and type 'decode' to dycrypt")
text = input("Type your message").lower()
shift = int(input("Type the shift number"))
shift = shift % 26
def encrypt(plain_text,shift_amount):
  cipher_text = ""
  for letter in plain_text:
    position = letters.index(letter)
    new_position = position + shift_amount
    new_letter = letters[new_position]
    cipher_text += new_letter
  print(f"The encoded text is {cipher_text}")
encrypt(plain_text=text,shift_amount=shift)
#decryption
def dycrypt(cipher_text,shift_amount):
  plain_text = ""
  for letter in cipher_text:
    position = letters.index(letter)
    new_position = position -shift_amount
    new_letter = letters[new_position]
    plain_text += new_letter
  print(f"The decoded text is {plain_text}")
def caesar(start_text,shift_amount,cipher_direction):
  end_text = ""
  for letter in start_text:
    position = letters.index(letter)
    if direction == "decode":
      new_position = position -shift_amount
      new_letter = letters[new_position]
      end_text += new_letter
    else:
      new_position = position + shift_amount
      new_letter = letters[new_position]
      end_text += new_letter
  print(f"The {direction}d text is {end_text}")
caesar(start_text=text,shift_amount=shift,cipher_direction=direction)
if direction == "decode":
  dycrypt(cipher_text=text,shift_amount=shift)
else:
  encrypt(plain_text=text,shift_amount=shift)
#

Type 'encode' to encrypt and type 'decode' to dycryptdecod
Type your messageabcd
Type the shift number3
The encoded text is defg
The decodd text is defg
The encoded text is defg

Video31:

In [ ]:
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99,
  "Draco": 74,
  "Neville": 62,
}
student_grades = {}
for student in student_scores:
  score = student_scores[student]
  if score > 90:
    student_grades[student] = "Outstanding"
  elif score > 80:
    student_grades[student] = "Exceeds Expectations"
  elif score > 70:
    student_grades[student] = "Acceptable"
  else:
    student_grades[student] = "Fail"
print(student_grades)

{'Harry': 'Exceeds Expectations', 'Ron': 'Acceptable', 'Hermione': 'Outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

In [ ]:
students ={
    "Harry": 81,
  "Ron": 78
}

#list in a dictionary
travel_log = {
    "France": ["Paris","Lille","Dijon"],
    "Germany": ["Berlin","Hamburg","Stuttgart"]
}

#Dictionary in a dictionary
travel_log = {
    "France": {"cities_visited": ["Paris","Lille","Dijon"],"total_visits": 12},
    "Germany": {"cities_visited": ["Berlin","Hamburg","Stuttgart"],"total_visits": 5}
}

#Dictionary in list
student_details = [
    {
        "name": "Aditya",
        "age": 20
    },
    {
        "name": "Nikhil",
        "age": 21
    }
]

vIDEO 32
Appending dictionary to list

In [ ]:
student_details = [
    {
        "name": "Aditya",
        "age": 20,
        "marks":[90,87,81],
    },
    {
        "name": "Nikhil",
        "age": 21,
        "marks":[90,87,81],
    }
]

def add_new_student(name,age,marks):
  new_student = {}
  new_student["name"] = name
  new_student["age"] = age
  new_student["marks"] = marks
  student_details.append(new_student)
add_new_student("Aditya",20,[90,87,81])
print(student_details)

[{'name': 'Aditya', 'age': 20, 'marks': [90, 87, 81]}, {'name': 'Nikhil', 'age': 21, 'marks': [90, 87, 81]}, {'name': 'Aditya', 'age': 20, 'marks': [90, 87, 81]}]

In [ ]:
name = input("Name of the bidder")
bid = int(input("Bid amount"))
bids ={}
bids[name] = bid
print(bids)

Name of the bidderaditya
Bid amount20
{'aditya': 20}

In [ ]:
bids ={}
biding_finished = False

def find_highest_bidder(bidding_record):
  heighest_bid = 0
  winner = ""
  for bidder in bidding_record:
    bid_amount = bidding_record[bidder]
    if bid_amount > heighest_bid:
      heighest_bid = bid_amount
      winner = bidder
  print(f"The winner is {winner} with a bid of ${heighest_bid}")



while not biding_finished:
  name = input("Name of the bidder")
  bid = int(input("Bid amount"))
  bids[name] = bid
  should_continue = input("Are there any other bidders? Type 'yes' or 'no'")
  if should_continue == "no":
    biding_finished = True
    find_highest_bidder(bids)

Name of the bidderAditya
Bid amount30
Are there any other bidders? Type 'yes' or 'no'yes
Name of the biddernik
Bid amount40
Are there any other bidders? Type 'yes' or 'no'no
The winner is nik with a bid of $40

In [ ]:
year = int(input("Which year do you want to check?"))
month = int(input("Which month do you want to check?"))
def is_leap(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year %400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False
def days_in_month(year,month):
  month_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if is_leap(year) and month == 2:
    return 29
  return month_days[month-1]
days = days_in_month(year,month)
print(days)

Which year do you want to check?2024
Which month do you want to check?2
29

video 33;
doc string = ctrl +q

In [ ]:
def square(n):
  """Take in a number n and return the square of n"""
  return n**2
print(square(3))

In [ ]:
#Python Scope
# A variable is avialbale inside the region it cretaed
#Local variabale
def drink_potion():
  potion_strength = 2
  print(potion_strength)
drink_potion()
print(potion_strength)
#Global variable
player_health = 10
def drink_potion():
  potion_strength = 2
  print(potion_strength)
  print(player_health)
drink_potion()
#if we want to craete a global variable inside the function we can use gloabl key word
def drink_potion():
  potion_strength = 2
  print(potion_strength)
  global player_health
  player_health = 2
  print(player_health)
drink_potion()
#we can declare a variable outsie and make it global variable inside the function
player_health = 10
def drink_potion():
  global player_health
  player_health = 2
  potion_strength = 2
  print(potion_strength)
  print(player_health)
drink_potion()
print

video 34:
Combine dictionary and funtion

In [ ]:

#we dont need switch cases here we can do that using dictionary
num1 = int(input("Enter first number"))

def add (n1,n2):
  return n1+n2

def sub (n1,n2):
  return n1-n2

def mul (n1,n2):
  return n1*n2

def div (n1,n2):
  return n1/n

operations = {
  "+": add,
  "-": sub,
  "*": mul,
  "/": div
}
for symbol in operations:
  print(symbol)
operation_symbol = input("Pick an operation from the line above")
calculation_function = operations[operation_symbol]
num2 = int(input("Enter second number"))

answer = calculation_function(num1,num2)
print(f"{num1} {operation_symbol} {num2} = {answer}")


operation_symbol = input("Pick an operation from the line above")
calculation_function = operations[operation_symbol]
num3 = int(input("Enter third number"))

answer2 = calculation_function(answer,num3)
print(f"{answer} {operation_symbol} {num3} = {answer2}")

Enter first number1
+
-
*
/
Pick an operation from the line above+
Enter second number3
1 + 3 = 4
Pick an operation from the line above-
Enter third number3
4 - 3 = 1

In [ ]:
#using while loop to do it multiple times
num1 = int(input("Enter first number"))

def add (n1,n2):
  return n1+n2

def sub (n1,n2):
  return n1-n2

def mul (n1,n2):
  return n1*n2

def div (n1,n2):
  return n1/n

operations = {
  "+": add,
  "-": sub,
  "*": mul,
  "/": div
}

def calculator():
  num1 = int(input("Enter first number"))
  for symbol in operations:
    print(symbol)
  should_continue = True
  while should_continue:
    operation_symbol = input("Pick an operation from the line above")
    calculation_function = operations[operation_symbol]
    num2 = int(input("Enter second number"))
    answer = calculation_function(num1,num2)
    print(f"{num1} {operation_symbol} {num2} = {answer}")
    if input(f"Type 'y' to continue calculating with {answer}, or type 'n' to start a new calculation") == 'y':
      num1 = answer
    else:
      should_continue = False
      calculator()
calculator()

In [ ]:
#Fibonacci series
def fibonacci(n):
  if(n <= 1):
    return n
  else:
    return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
  print(fibonacci(i))

video 34:
scope with example

In [ ]:
#There is no block scope in python if we are using for loop block we can acess that out side the loop
for i in range(3):
  print(i)
print(i)

#if there is a nested function variable of the inner fuction can be accessed in outer funtion
score = 100
def a():
  def b():
    marks = 89
    print(score)

  b()
a()
# if a variable is global we can use it inside the fucntion but we cant modify it
score = 100
def a():
  def b():
    new_score = score+1
    print( new_score)

  b()
  print(score)
a()

# if a variable is global we can use it inside the fucntion but we cant modify it ffor that we need to use global key word

score = 100
def a():
  def b():
    global score
    score += 1
    print(score)

  b()
  print(score)
a()

0
1
2
2
100
101
100
101
101

In [ ]:
#Global consat for declaring gloabl constant we alaways use capital letters
PI = 3.14
def a():
  print(PI)
a()

3.14

Video 36: Guessing the score game

video 37 : coffe machine

Video 38 : oops concept
# Attribute are nothing but variables
# methods are the funtion of a class

In [ ]:
#python use PascalCase for class name (P and C are capital other are small similarway we can take our class name)
class User:
  pass
user_1 = User()
user_1.id = "001"
user_1.name = "Aditya"
print(user_1.name)

#python use snake_case for methods/functions
#everything is an object in python
#object is instace of class

In [ ]:
#Class and constucter
class Student:
   def __init__(self,name,id,marks):
    self.name = name
    self.id = id
    self.marks =marks
   def display_names(self):
     print(f"My name is {self.name}")

s1 = Student("Aditya",1,90)
s1.display_names()

s2 = Student("Nikhil",2,89)
s2.display_names()

My name is Aditya
My name is Nikhil

Video 39:
Default values for attribute

In [ ]:
class User:
  def __init__(self,user_name,user_id):
    self.user_name = user_name
    self.user_id = user_id
    self.followers =0

s1 = User("Aditya",1)
print(s1.followers)

0

In [ ]:
class User:
  def __init__(self,user_name,user_id):
    self.user_name = user_name
    self.user_id = user_id
    self.followers = 0
    self.following = 0
  def follow(self,user):
    user.followers += 1
    self.following += 1

s1 = User("Aditya",1)
print(s1.followers)

s2 = User("Nikhil",2)
print(s2.followers)

s1.follow(s2)
print(s1.followers)
print(s1.following)
print(s2.followers)
print(s2.following)

0
0
0
1
1
0

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def dispaly_parent(self):
    print("This is from parent")
    print(f"My name is {self.name}")

#we can delacre a child class by keeping base class in paranthesis in child class
class Employee(Person):
  def __init__(self,name,age,id,salary):
    super().__init__(name,age) # This is how we are using name and age from the parent super class
    self.id = id
    self.salary = salary
  def display_child(self):
    print("This is from child")
    print(f"My name is {self.name}")

emp = Employee("Aditya",20,1,10000)
emp.dispaly_parent() # we can call method of parent class from child class
emp.display_child()

This is from parent
My name is Aditya
This is from child
My name is Aditya

In [ ]:
#Polymerprism
#same as the above code insted of display parent and child lets keep display only same name in both the class and call it
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def dispaly(self):
    print("This is from parent")
    print(f"My name is {self.name}")

#we can delacre a child class by keeping base class in paranthesis in child class
class Employee(Person):
  def __init__(self,name,age,id,salary):
    super().__init__(name,age) # This is how we are using name and age from the parent super class
    self.id = id
    self.salary = salary
  def display(self):
    print("This is from child")
    print(f"My name is {self.name}")

emp = Employee("Aditya",20,1,10000)
emp.dispaly() # we can call method of parent class from child class
emp.display()

This is from parent
My name is Aditya
This is from child
My name is Aditya

video 40:Turtle class

In [ ]:
#import turtle package inside that Turtle class is present
import turtle

tommy = turtle.Turtle()
print(tommy)

In [ ]:
# we can import directly turtle class
from turtle import Turtle,Screen
tommy = Turtle()
print(tommy)
tommy.shape("turtle")
tommy.color("red")
tommy.forward(100)
my_screen = Screen()
print(my_screen.canvheight)
my_screen.exitonclick()

Video 41:
Import nd installing

In [ ]:
#if you want to import everything not the specific class the
from turtle import *
tommy = Turtle()
print(tommy)

In [ ]:
#using aliasing
from turtle import Turtle as t
tommy = t()
print(tommy)

In [ ]:
pip install PythonTurtle

Collecting PythonTurtle
  Downloading PythonTurtle-0.3.2-py3-none-any.whl.metadata (5.1 kB)
Downloading PythonTurtle-0.3.2-py3-none-any.whl (518 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 518.4/518.4 kB 8.1 MB/s eta 0:00:00
Installing collected packages: PythonTurtle
Successfully installed PythonTurtle-0.3.2

In [ ]:
#A function can take other fuction as input insted of values we can take one fucntion as input for another function
from turtle import Turtle,Screen
tommy = Turtle()
screen = Screen()
def move_forwards():
  tommy.forward(100)
screen.listen()
screen.onkey(key="space",fun=move_forwards)
screen.exitonclick

Video 42: draw a square

Video 43 : Turtle racing

Video 44 : snake game

Video 45:
Inheritance

In [ ]:
class Animal:
  def __init__(self):
    self.num_eyes = 2
  def breathe(self):
    print("Inhale, Exhale")
class Fish(Animal):
  def __init__(self):
    super().__init__()
  def swim(self):
    print("Moving in water")
nemo = Fish()
nemo.swim()
nemo.breathe()
print(nemo.num_eyes)

Moving in water
Inhale, Exhale

In [ ]:
class Animal:
  def __init__(self):
    self.num_eyes = 2
  def breathe(self):
    print("Inhale, Exhale")
class Fish(Animal):
  def __init__(self):
    super().__init__()
  def breathe(self):
    super().breathe()
    print("doing this underwater")
  def swim(self):
    print("Moving in water")
nemo = Fish()
nemo.swim()
nemo.breathe()
print(nemo.num_eyes)

Moving in water
Inhale, Exhale
doing this underwater
2

Video 46

Video 47 Slicing

In [ ]:
#in python we can take list, dict ,tuple and slice them
#list[start:end:step]
#list slicing
L = [1,2,3,4,5,6,7,8,9]
print(L[2:5]) # it will start from 2 and go till 4
print(L[::2]) # it will step 2 elemets
print(L[::-1]) #it will reverse the list

#Slice with negative indices
print(L[-6:-2])

# Slicing with postive and negative indices
print(L[2:-2])

#step of slicing
print(L[2:7:2])
#Negative step of slicing
print(L[7:2:-2])

#slice at begining
print(L[:5])

#slice at end
print(L[2:])

[3, 4, 5]
[1, 3, 5, 7, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 6, 4]
[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7, 8, 9]

Video 48

Video 49

Video 50

Video 51

Video 52 : File handing in python

In [ ]:
file = open("my_file.txt",'r')
contents = file.read()
print(contents)
file.close()

file = open("my_file.txt",'w')
file.write("This is a new line")
file.close()
contents = file.read()
print(contents)
file.close()

In [ ]:
with open("my_file.txt") as file:
  contents = file.readlines()
with open("letter.txt") as letter:
  contents2 = letter.read()
  for name in contents:
    contents2 = contents2.replace("[name]",name)
    print(contents2)
  print(contents)

Video 53
Pandas

In [ ]:
with open("weather_data.csv") as file:
  contents = file.readlines()
  print(contents)

In [ ]:
import csv
with open("weather_data.csv") as file:
  data = csv.reader(file)
  temperatures = []
  for row in data:
    if row[1] != "temp":
      temperatures.append(int(row[1]))
  print(temperatures)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas

data = pandas.read_csv("weather_data.csv")
print(data["temp"])

Dataframr: its nothing but a table
series : its a column of the table

In [ ]:
data_dict = data.to_dict()
print(data_dict)

In [ ]:
#Converting lists
temp_list = data["temp"].tolist()
print(temp_list)
print(len(temp_list))

In [ ]:
#Avergae of temparture
average = sum(temp_list)/len(temp_list)
print(average)

print(data["temp"].mean())
print(data["temp"].max())

In [ ]:
#get data in column
print(data["condition"])
print(data.condition)
#get data in row
print(data[data.day == "Monday"])
print(data[data.temp == data.temp.max()])

In [ ]:
#Create data frame from scratch
import pandas

data_dict = {
      "Students":["Aditya","Nikhil","chiki"],
      "Scores":[90,89,99]
}
data = pandas.DataFrame(data_dict)
print(data)
data.to_csv("new_data.csv")

  Students  Scores
0   Aditya      90
1   Nikhil      89
2    chiki      99

video 54:

Video 55: List comprehnssion

In [ ]:
list = [1,2,3,4,5]
new_list = []
for n in list:
  new_list.append(n+1)
print(new_list)

#List comprehension
list = [1,2,3,4,5]
new_list = [n+1 for n in list]
print(new_list)

#string in list
names = ["Aditya","Nikhil","chiki"]
new_list = [name.upper() for name in names]
print(new_list)

#in range
range_list = [n*2 for n in range(1,5)]
print(range_list)

#conditional list comprehension
names = ["Aditya","Nikhil","chiki"]
new_list = [name.upper() for name in names if len(name)>5]
print(new_list)

#squaring
numbers = [1,1,2,3,5,8,13,21,34,55]
squared_numbers = [n**2 for n in numbers]
print(squared_numbers)

#even numbers
numbers = [1,1,2,3,5,8,13,21,34,55]
even_numbers = [n for n in numbers if n%2==0]
print(even_numbers)

#odd numbers
numbers = [1,1,2,3,5,8,13,21,34,55]
odd_numbers = [n for n in numbers if n%2!=0]
print(odd_numbers)

#interstction of two list using list compreshenssion
list1 = [1,2,3,4,5,6]
list2 = [1,3,5,7,9,11]
new_list = [n for n in list1 if n in list2]
print(new_list)

#

Video 55
Dictionary comprrehenssion

In [ ]:
import random
names =["Aditya","Nikhil","chiki"]
students_score = {student:random.randint(1,100) for student in names}
print(students_score)

passed_students = {student:score for (student,score) in students_score.items() if score>=60}
print(passed_students)
#

{'Aditya': 82, 'Nikhil': 32, 'chiki': 9}

In [ ]:
def roman
roman = {
  "I":1,
  "V":5,
  "X":10,
  "L":50,
  "C":100,
  "D":500,
  "M":1000
}